.btn-container {
  display: flex;
  justify-content: flex-end;
  padding: 0 20px;

  @media screen and (max-width: 375px) {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
  }
}

.house-service-container {
  width: 100%;
  display: flex;
  margin-top: 10px;
  margin-bottom: 30px;
  .map {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  .house-info {
    padding: 16px;
    display: grid;
    // row-gap: 4px;
  }
  @media screen and (max-width: 600px) {
    display: block;
  }
}

.es-detail-modal {
  display: flex;
  flex-direction: column;
  gap: 14px;
  text-align: center;
  padding-bottom: 30px;
}
