@import '../../../../theme/scss/colors.theme.scss';

#edit-profile {
  width: 100%;
  padding: 20px 20px;
  .icon {
    color: $colors-primary;
  }
  .upload-file {
    display: flex;
    align-items: center;
  }
  .line {
    border-bottom: 0.8px solid #ccc;
    padding: 10px 0;
  }
}
