@import '../../../theme/scss//colors.theme.scss';
@import '../../../theme/scss//colors.theme.scss';

.baseButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: $colors-black;
  background-color: $colors-primary;
  font-weight: 600;
  font-size: 16px;
}
