@import '../../../theme/scss//colors.theme.scss';

.baseButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  color: $colors-black;
  font-weight: 600;
  font-size: 16px;
}
