#upload-file-container {
  display: flex;
  gap: 4px;
  flex-direction: column;
  width: 100%;
  @media screen and (max-width: 554px) {
    width: 100%;
  }
}

.custom-upload-button {
  width: 100%;
}

.ant-upload-list-item .ant-upload-list-item-undefined {
  height: 40px !important;
}
