@import '../../../../theme/scss/colors.theme.scss';
#header-checkout {
  background-image: url('../../../../assets/images/title-bg-img.jpg');
  height: 230px;
  object-fit: cover;
  align-items: center;
  padding: 75px 140px;

  .breadcrumb {
    display: flex;
    justify-content: end;
  }
}

#order-container {
  max-width: 1400px;
  margin: auto;
  padding: 50px 0;

  > .ant-col {
    padding: 14px;
    border-bottom: 0.8px solid #ccc;

    &:first-child {
      border: none;
    }

    &:last-child {
      border: none;
    }
  }

  .return-btn {
    display: flex;
    align-items: center;
    background-color: $colors-primary;
    padding: 20px;
    height: 40px;
  }
}
