@import '../../../../theme/scss/colors.theme.scss';

.footer {
  margin-top: 100px;
  padding: 0;
  background-color: $colors-secondary;

  &-container {
    max-width: 1400px;
    margin: 0 auto;
    @media screen and (max-width: 1401px) {
      max-width: 100%;
      padding: 0 16px;
    }

    .link {
      display: grid;
      row-gap: 6px;
      & > li :hover {
        color: $colors-primary;
      }
    }
  }
  &-top {
    padding: 50px 0;
    color: $colors-black;
    ul {
      list-style: none;
      padding-left: 0;
      li {
        cursor: pointer;
      }
    }
  }
  &-bottom {
    background-color: $colors-secondary;
    color: $colors-black;
  }
  &-bottom-container {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 769px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  &-contact-container {
    display: flex;
    gap: 10px;
    &-item {
      display: flex;
      gap: 20px;

      a {
        color: black;
        &:hover {
          color: $colors-primary;
        }
      }
    }
  }
}
