.editUserInfo {
  &-container {
    max-width: 1400px;
    padding: 0 24px;
    margin: 0 auto;
    padding: 0;
    .infoItem {
      .top {
        display: flex;
        justify-content: space-between;
      }
    }
    @media screen and (max-width: 1401px) {
      max-width: 100%;
      padding: 0 16px;
    }

    .icon-left {
      margin-right: 4px;
      font-size: 18px;
      padding: 16px;
      border-radius: 0;
      transition:
        background-color 0.3s ease,
        border-radius 0.3s ease;
      &:hover {
        border-radius: 100%;
        background-color: #ccc;
      }
    }
  }
}
