@font-face {
  font-family: 'Tsukushi A Round Gothic';
  src: local('Tsukushi A Round Gothic') url('../assets/fonts/TsukushiARoundGothicRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
