.alert-response {
  display: flex;
  align-items: center;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  padding: 0 20px;
}

.checkbox-container {
  .ant-checkbox-group {
    display: flex;
    justify-content: center;
    padding: 20px 0;
  }
  .ant-checkbox {
    opacity: 0;
    position: absolute;
  }

  .ant-checkbox-wrapper {
    font-weight: bold;
    width: auto;
    padding: 6px 4px;
    margin: 8px;
    border-radius: 50px;
    border: 1px solid #ccc;
    transition: all 0.3s ease;
  }

  .ant-checkbox-wrapper.ant-checkbox-wrapper-checked {
    background-color: #f8a11e;
    color: white;
    font-weight: bold;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
}
