@import '../../theme/scss/colors.theme.scss';

#header-user-dashboard {
  background-image: url('../../assets/images/title-bg-img.jpg');
  height: 230px;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;

  .breadcrumb {
    display: flex;
    justify-content: end;
  }

  .header-row {
    width: 1400px;
  }

  .tabs-bar {
    position: absolute;
    top: 50px;
    width: 100%;
    z-index: 500;
    .icon-tab-item {
      font-size: 25px;
    }
    &-inner {
      margin: auto !important;
      background-color: white;
      border: 0.8px solid #ccc;
      border-radius: 4px;
    }
  }
  @media screen and (max-width: 831px) {
    .tabs-bar {
      display: flex;
      top: 20px;
    }
  }
}

#container-user-dashboard {
  max-width: 1400px;
  margin: auto;
  padding: 100px 0;
}
