@import '../../theme/scss/colors.theme.scss';

.askMemberContainer {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-bottom: 10px;
  span {
    b {
      cursor: pointer;
    }
  }
}
.askLoginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  span {
    b {
      cursor: pointer;
    }
  }
}

.resendBtnContainer {
  margin-top: 8px;
  text-align: center;
  margin-bottom: 10px;
  .actionText {
    display: inline-block;
    .actionTextPointer {
      cursor: pointer;
    }
    .actionTextHidden {
      display: none;
    }
    .actionTextDisabled {
      color: $colors-error;
      cursor: initial;
    }
  }
}

.actionText {
  cursor: pointer;
  display: inline-block;
}
