.message {
  color: #555555;
  margin-top: 25px;
  margin-bottom: 15px;
  font-weight: 300;
}

.askLoginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  
}
.actionText{
  cursor: pointer;
  display: inline-block;
}