.message {
  padding: 20px 0 !important;
}

.askLoginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.actionText {
  cursor: pointer;
  display: inline-block;
}
