#section {
  display: flex;
  gap: 50px;
  align-items: center;
  min-width: 100%;

  p {
    font-size: 18px;
    line-height: 1.3em;
    color: #3a3a3a;
  }

  .about-us {
    justify-content: center;
    text-align: center;
  }
  .image {
    display: block;
    img {
      width: 300px;
      height: 255px;
      object-fit: cover;
    }
    .info {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      font-size: 15px;
    }
  }
  .content {
    h2 {
      margin: 0;
      margin-bottom: 10px;
      font-size: 24px;
    }
    span {
      font-size: 18px;
      line-height: 25px;
    }
  }
}

#colorsection {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 50px;
  background: #b9e1dc;
  border: 1px solid #019bab;
  padding: 2%;
  .about-us {
    justify-content: center;
    text-align: center;
  }

  .image {
    img {
      width: 300px;
      height: 200px;
      object-fit: cover;
    }
    .info {
      margin-top: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
  }
  .content {
    span {
      font-size: 18px;
      line-height: 28px;
    }
  }
}

#staffsection {
  display: block;
  margin-top: 20px;
  .title {
    h2 {
      font-size: 25px;
    }
  }

  .staff-wrapper {
    margin-top: 30px;
    display: flex;
    gap: 10px;
    img {
      max-width: 15%;
      height: auto;
      object-fit: cover;
    }
  }
}

#overviewsection {
  margin-top: 20px;
  .title {
    h2 {
      font-size: 25px;
    }
  }
  table {
    width: 100%;
    tr {
      display: flex;

      .col-header {
        text-transform: capitalize;
        padding: 40px 20px;
        background: #eee;
        flex: 1;
        text-align: start;
        font-size: 18px;
      }
      .col2-header {
        padding: 40px 20px;
        background: #eee;
        flex: 3;
        text-align: start;
        font-size: 18px;
      }
      .col {
        padding: 20px;
        flex: 1;
        font-size: 16px;
        color: #3a3a3a;
      }
      .col2 {
        padding: 20px;
        flex: 3;
        line-height: 1.6em;
        display: flex;
        flex-direction: column;
        font-size: 16px;
        color: #3a3a3a;
        .intro {
          font-weight: bold;
        }
        .item {
          font-weight: bold;
          margin-top: 10px;
          margin-bottom: 10px;
        }
        .link {
          color: red;
          font-style: italic;
        }
      }
    }
  }

  .wrapper-btn {
    display: block;
    margin: 30px 0;
    text-align: center;

    .btn-advise {
      font-size: 20px;
      font-weight: bold;
      color: white;
      width: 338px;
      height: 78px;
      background-color: #f4979f;
    }
  }
}

.phonesection {
  background: #eee;
  display: flex;
  border: 1px solid #cccccc;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  padding: 30px;
  gap: 10px;
  span {
    span {
      color: #f4979f;
    }
  }
}
