.property-detail-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 5px;
  margin-bottom: 8px;
}

.property-detail-group-1 {
  flex: 1;
  text-wrap: nowrap;
}

.property-detail-group-2 {
  flex: 0;
  text-wrap: nowrap;
  text-align: right;
}
