$colors-secondary: #009aab;
$colors-primary: #ffcc41;
$colors-title: #000000;
$colors-text: #555555;
$colors-black: #000000;
$colors-white: #ffffff;
$colors-brightGrey: rgb(240, 240, 240);
$colors-lightGrey: #e8e8e8;
