@import "../../theme/scss/colors.theme.scss";

.resendBtnContainer {
  margin-top: 8px;
  text-align: center;
  margin-bottom: 10px;
}

.askMemberContainer {
  display: flex;
  justify-content: center;
  gap: 5px;
  span {
    b {
      cursor: pointer;
    }
  }
}
.askLoginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  span {
    b {
      cursor: pointer;
    }
  }
}

.actionText{
  display: inline-block;
  .actionTextPointer{
    cursor: pointer;
  }
  .actionTextHidden{
    display: none;
  }
  .actionTextDisabled{
    color: $colors-error;
    cursor: initial;
  }
}