.menu {
  max-width: 1400px;
  padding: 0 24px;
  margin: 0 auto;
  color: black;
  h1 {
    margin: 0;
    padding: 0;
  }
  .menuItem {
    margin: 0;
    font-size: 20px;
  }

  .ant-menu-item .logo-container {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding-top: 12px;
  }
}
