@import '../../../../theme/scss/colors.theme.scss';
.cs-card {
  width: 320px;
}
.content-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 130px;
  padding: 6px;

  &-top {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .es-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      color: white;
      &-primary {
        background-color: $colors-primary;
      }
      &-tertiary {
        background-color: $colors-tertiary;
      }
      &-others {
        background-color: #ccc;
      }
    }
  }

  .tertiary-link {
    font-weight: 600;
    color: $colors-tertiary;
  }
  .primary-link {
    font-weight: 600;
    color: $colors-primary;
  }
  .other-link {
    font-weight: 600;
    color: #ccc;
  }
}
