@import '../../theme/scss/colors.theme.scss';

#header-checkout {
  background-image: url('../../assets/images/title-bg-img.jpg');
  height: 230px;
  object-fit: cover;
  align-items: center;
  justify-content: center;
  padding: 75px 140px;

  .breadcrumb {
    display: flex;
    justify-content: end;
  }
}

#reservation-container {
  max-width: 1400px;
  margin: auto;
  padding: 50px 0;
  .reservation-title {
    display: flex;
    margin-bottom: 30px;
    gap: 6px;
    .icon-left {
      font-size: 18px;
      padding: 16px;
      &:hover {
        border-radius: 100%;
        background-color: #ccc;
      }
    }
  }
  .main {
    padding: 0 50px;
    .field-time-icon {
      font-size: 44px;
    }
    .section {
      row-gap: 10px;
      border-bottom: 0.8px solid #ccc;
      padding: 20px 0;
    }
    &-estimated {
      .edit-date {
        color: #000;

        &:hover {
          color: $colors-primary;
        }
      }
    }
    &-payment {
      .banner-payment-vnpay {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0;
        padding: 0 10px;
        height: 100px;
        background-color: $colors-bg-secondary;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        .img-vnpay-1,
        .img-vnpay-2 {
          height: 60px;
        }
      }
    }
    &-cancellation-policy {
    }
    &-reservation-required {
      padding: 20px 0;
      .reservation-btn {
        margin-top: 30px;
      }
    }
  }
  .side {
    margin: 0 20px;
    .fee-table {
      border: 0.8px solid #ccc;
      border-radius: 6px;
      padding: 30px;
      margin-top: 20px;

      &-section-1 {
        display: flex;
        gap: 15px;
        &-description {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
        }
        .img-fee {
          height: 90px;
          width: 140px;
          object-fit: cover;
          border-radius: 5px;
        }
      }

      &-section-2 {
        margin: 10px 0;
        padding: 10px 0;
        border-top: 0.8px solid #ccc;
        border-bottom: 0.8px solid #ccc;
        &-description {
          display: flex;
          justify-content: space-between;
          margin-top: 16px;
        }
      }
      &-section-3 {
        &-description {
          display: flex;
          justify-content: space-between;
          color: #000;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  #reservation-container {
    padding: 50px 20px;
  }
}
